{% extends 'main.html' %}
{% block content %}
<h1>Costumers</h1>
<ul>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      {% for people in persons  %}
      <tr>
        <td><a href= "{% url 'customer:detail' people.id %}">{{ people.name }}</a></td>
        <td>{{ people.email }} </td>
        <td>{{ people.country }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</ul>
{% endblock %}