{% extends 'main.html' %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>Gender</th>
            <th>Date of Birth</th>
        </tr>
    </thead>
    <tbody>
            {% for fq in friends %}
                <tr>
                    <td> {{fq.name}} </td>
                    <td> {{fq.email}} </td>
                    <td> {{fq.sex}} </td>
                    <td> {{fq.dob}} </td>
                </tr>
            {% endfor %}
    </tbody>
</table>
{% endblock  %}