<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>
<div class="container"></div>
<h1>Word-Counter</h1>
<div class="form-group">
    <form action="{% url 'count' %}">
        <textarea cols="40" rows="10" name="fulltext"></textarea>
        <br />
        <input type="submit" value="Count!" />
    </form>
</div>
</div>

</html>